body {
    font-family: roboto;
    margin: 0;
}
/*navy-block*/
.navy-block {
    background-color: #1F2937;
}
.header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    padding: 12px 120px;
}
a, h3 {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}
h3 {
    margin: 8px 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap:24px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 100px 120px;
    gap: 24px;
    
}
.navy-left {
    flex-wrap: wrap;
    width: 400px;
    
}
h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0px;
}
button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 900;
    border: none;
    border-radius: 4px;
    padding: 4px 20px;
}
#no-border {
    border: none;
}
/*white-middle-block*/
.white-middle-block {
    background-color: white;
}
h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    padding: 24px;
    margin: 0;

}
.img-container {
    display: flex;
    justify-content: center;
    gap: 36px;
    padding-bottom: 48px;
    
}
.info {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    text-align: center;
    color: rgb(100, 97, 97);
    font-size: 18px;
}
img {
    border: 3px solid #3882F6;
    border-radius: 8px;
    margin-bottom: 4px;
}
/*gray-block*/
.gray-block {
    background-color: #E5E7EB;
}
.quote-container {
    padding: 96px 270px;
}
.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: left;
}
.author {
    color: #1F2937;
    font-size: 24px;
    font-weight: 700;
    text-align: right;
}
/*bottom-white-block*/
.bottom-white-block {
    background-color: white;
}
.blue-container {
    background-color: #3882F6;
    margin: 96px 200px;
    padding: 48px 48px;
    display: flex;
    flex: 0;
    justify-content: space-evenly;
    color: white;
    border-radius: 6px;
}
strong {
    font-size: 20px;
}
#bordered {
    border: solid 2px white;
    padding: 2px 32px;
    flex-shrink: 0;
}
/*footer*/
.footer {
    background-color: #1F2937;
    color: white;
    padding: 32px 200px;
    text-align: center;
    font-size: small;
}
